@model IEnumerable<StajProject.Models.Grades>

@{
    ViewBag.Title = "View Grade List";
}

<h2>View GradeList</h2>

<p>
    @Html.ActionLink("Create New", "AddGrade")
</p>

@if (!Model.Any())
{
    <p>We don't have any grade yet.</p>
}
else
{

<table class="table" id="Grades">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditGrade", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteGrade", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Grades").DataTable();
            $("#Grades .js-delete").on("click", function () {
                confirm("are you sure you want to delete this grade");
            });
        });
    </script>
}


