@model StajProject.Models.Applications

@{
    ViewBag.Title = "EditApplication";
}
<br />
<h2>Edit Application</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.Date)
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.CandidateID)
            </label>
            <div class="col-md-10">
                @Html.DropDownList("CandidateID", (SelectList)ViewBag.CandidateList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CandidateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.PositionID)
            </label>
            <div class="col-md-10">
                @Html.DropDownList("PositionID", (SelectList)@ViewBag.PositionList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.GradeID)
            </label>
            <div class="col-md-10">
                @Html.DropDownList("GradeID", (SelectList)@ViewBag.GradeList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.ManagerID)
            </label>
            <div class="col-md-10">
                @Html.DropDownList("ManagerID", (SelectList)@ViewBag.ManagerList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManagerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.RecruiterID)
            </label>
            <div class="col-md-10">
                @Html.DropDownList("RecruiterID", (SelectList)@ViewBag.RecruiterList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RecruiterID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div style="color:red">@ViewBag.Error</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
