@model IEnumerable<StajProject.Models.Departments>

@{
    ViewBag.Title = "View Department List";
}
<br />
<h2>Department List</h2>
<br />
<p>
    @Html.ActionLink("Create New Department", "AddDepartment")
</p>
<br />
@if (!Model.Any())
{
    <p>We don't have any department yet.</p>
}
else
{

    <table class="table" id="Departments">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDepartment", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Departments").DataTable();
            $("#Departments .js-delete").on("click", function () {
                confirm("are you sure you want to delete this department");
            });
        });
    </script>
}
