@model IEnumerable<StajProject.Models.Questions>

@{
    ViewBag.Title = "View Question List";
}

<h2>View Question List</h2>

<p>
    @Html.ActionLink("Create New", "AddQuestion")
</p>

@if (!Model.Any())
{
    <p>We don't have any questions yet.</p>
}
else
{
<table class="table" id="Questions">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditQuestion", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "DeleteQuestion", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Questions").DataTable();
            $("#Questions .js-delete").on("click", function () {
                confirm("are you sure you want to delete this question");
            });
        });
    </script>
}
