<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/ElegantLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    @Styles.Render("~/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
             
            @if (Session["Email"] == null)
            {
                @Html.Partial("_navbar");
            }
            else { @Html.Partial("_navbarAfterLogIn"); }        

    </div>
    <div></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Defacto InternShip Project</p>
        </footer>
    </div>

    @Scripts.Render("~/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
