@model IEnumerable<StajProject.Models.Managers>

@{
    ViewBag.Title = "View Manager List";
}
<br />
<h2>Manager List</h2>
<br />
<p>
    @Html.ActionLink("Create New Manager", "AddManager")
</p>
<br />
@if (!Model.Any())
{
    <p>We don't have any Manager yet.</p>
}
else
{
<table class="table" id="Managers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditManager", new { id = item.ID }, new { @class = "far fa-edit", style = "color:#0a69e3" }) 
                    @Html.ActionLink("Delete", "DeleteManager", new { id = item.ID }, new { @class = "js-delete fas fa-trash-alt", style = "color:#dd7676" }) 
                    @Html.ActionLink("Send Survey", "SendEmail", new { id = item.ID, email = item.Email, FirstName = item.FirstName, Surname = item.Surname }, new { @class = "fas fa-share-square", style = "color:#639721" })
                </td>
            </tr>
        }

    </tbody>
</table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Managers").DataTable();
            $("#Managers .js-delete").on("click", function (e) {
                if (confirm("are you sure you want to delete this manager") == false) {
                    e.preventDefault();
                }
            });
        });
    </script>
}